:root {
  --bs-body-font-family: "Lato", sans-serif;
  --bs-body-bg: #fff5e1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
}

/* background */
.bg-rosa-suave {
  background-color: #ffc0cb;
}

.bg-crema-pastel {
  background-color: #fff5e1;
}

.bg-chocolate {
  background-color: #8b4513;
}

.bg-marron-oscuro {
  background-color: #5d4037;
}

.bg-gris-claro {
  background-color: #b0bec5;
}

/* text */
.text-primary {
  color: #5d4037 !important;
}

.text-secondary {
  color: #b0bec5 !important;
}

/* buttons */

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ffc0cb;
  --bs-btn-border-color: #ffc0cb;
  --bs-btn-hover-bg: #f0b0bd;
  --bs-btn-hover-border-color: #f0b0bd;
  --bs-btn-active-bg: #e29aa8;
  --bs-btn-active-border-color: #e29aa8;
  --bs-btn-disabled-bg: #d6c4c8;
  --bs-btn-disabled-border-color: #d6c4c8;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #8b4513;
  --bs-btn-border-color: #8b4513;
  --bs-btn-hover-bg: #a55a1c;
  --bs-btn-hover-border-color: #a55a1c;
  --bs-btn-active-bg: #6e380f;
  --bs-btn-active-border-color: #6e380f;
  --bs-btn-disabled-bg: #a08c7e;
  --bs-btn-disabled-border-color: #a08c7e;
}

/* Font */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
