:root {
  --bs-body-bg: #fff5e1;
  --bs-primary: #f8bbd0;
  --bs-primary-rgb: 248, 187, 208;
  --bs-secondary: #fff9c4;
  --bs-secondary-rgb: 255, 249, 196;
  --bs-success: #c8e6c9;
  --bs-success-rgb: 200, 230, 201;
  --bs-info: #b3e5fc;
  --bs-info-rgb: 179, 229, 252;
  --bs-warning: #ffccbc;
  --bs-warning-rgb: 255, 204, 188;
  --bs-danger: #ffccbc;
  --bs-danger-rgb: 255, 204, 188;
  --bs-dark: #6d4c41;
  --bs-dark-rgb: 109, 76, 65;
  --strawberry: #ffcdd2;
  --blueberry: #c5cae9;
  --lemon: #fff59d;
  --cinnamon: #d7ccc8;
  --frost-white: #f8f9fa;

  .bg-strawberry {
    background-color: var(--strawberry);
  }

  .bg-blueberry {
    background-color: var(--blueberry);
  }
  .bg-lemon {
    background-color: var(--lemon);
  }
  .bg-cinnamon {
    background-color: var(--cinnamon);
  }

  .btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

  .btn-outline-primary:hover {
    color: var(--bs-dark);
    background-color: var(--bs-primary);
  }

  .btn-outline-primary:active {
    color: var(--bs-dark);
    background-color: var(--lemon);
    border-color: var(--lemon);
  }

  .btn-primary {
    color: var(--bs-dark);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

  .btn-primary:active {
    color: var(--bs-dark);
    background-color: var(--lemon);
    border-color: var(--lemon);
  }

  .btn.btn-nav {
    color: var(--frost-white);
    padding: 8px 16px;
    font-weight: bold;
    margin-right: 5px;
  }

  .btn.btn-nav:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .btn.btn-nav:active {
    border-color: var(--bs-primary);
  }

  .btn.btn-nav.active {
    color: var(--bs-dark);
    background-color: var(--bs-primary);
  }

  .footer-text {
    color: #6d4c4181;
    transition: color 0.15s ease-in-out;
  }

  .footer-text:hover {
    color: var(--bs-dark);
  }
}
